In [42]:
import numpy as np
import pandas as pd
from sklearn import ensemble
from sklearn.metrics import mean_squared_error


# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [73]:
train = pd.read_csv('train.csv')
train.drop('Id', axis = 1, inplace = True)

In [74]:
X = train.drop('SalePrice', axis = 1)
y = train['SalePrice']

- FullBath不行

In [75]:
def prepare_X(X, y):
    outliers = [1298]
    X.drop(outliers, inplace = True)
    y = y.drop(outliers)
    cols = [
        'OverallQual',
        'ExterQual',
        'CentralAir',
        '1stFlrSF',
        'GrLivArea',
        'BsmtFullBath',
        'KitchenQual',
        'TotRmsAbvGrd',
        'Fireplaces',
        'PavedDrive',
        'TotalBsmtSF',
        'GarageArea',
        'YearRemodAdd'

    ]
    X_prepared = X[cols]
    # ExterQual
    X_prepared['ExterQual'] = X_prepared['ExterQual'].replace({'Ex':4, 'Gd': 3, 'TA': 2, 'Fa': 1})
    # CentralAir
    X_prepared['CentralAir'] = X_prepared['CentralAir'].replace({'Y':1,'N': 0})
    # KitchenQual
    X_prepared['KitchenQual'] = X_prepared['KitchenQual'].replace({'Ex':4, 'Gd': 3, 'TA': 2, 'Fa': 1})
    # PavedDrive
    X_prepared['PavedDrive'] = X_prepared['PavedDrive'].replace({'Y':2, 'P':1, 'N': 0})


    return X_prepared, y

In [76]:
X_prepared, y_prepared = prepare_X(X, y)
X_prepared

,OverallQual,ExterQual,CentralAir,1stFlrSF,GrLivArea,BsmtFullBath,KitchenQual,TotRmsAbvGrd,Fireplaces,PavedDrive,TotalBsmtSF,GarageArea,YearRemodAdd
0,7,3,1,856,1710,1,3,8,0,2,856,548,2003
1,6,2,1,1262,1262,0,2,6,1,2,1262,460,1976
2,7,3,1,920,1786,1,3,6,1,2,920,608,2002
3,7,2,1,961,1717,1,3,7,1,2,756,642,1970
4,8,3,1,1145,2198,1,3,9,1,2,1145,836,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,6,2,1,953,1647,0,2,7,1,2,953,460,2000
1456,6,2,1,2073,2073,1,2,7,2,2,1542,500,1988
1457,7,4,1,1188,2340,0,3,9,2,2,1152,252,2006
1458,5,2,1,1078,1078,1,3,5,0,2,1078,240,1996
1459,5,3,1,1256,1256,1,2,6,0,2,1256,276,1965

In [77]:
rf_reg = ensemble.RandomForestRegressor()

In [78]:
rf_reg.fit(X_prepared, y_prepared)

RandomForestRegressor()

In [79]:
rf_reg.score(X_prepared, y_prepared)

0.9810304373108933

In [80]:
mean_squared_error(rf_reg.predict(X_prepared), y_prepared)

119713326.04303497

# Prediction

In [103]:
test = pd.read_csv('test.csv')

In [109]:
def prepare_test(X):
    cols = [
        'OverallQual',
        'ExterQual',
        'CentralAir',
        '1stFlrSF',
        'GrLivArea',
        'BsmtFullBath',
        'KitchenQual',
        'TotRmsAbvGrd',
        'Fireplaces',
        'PavedDrive',
        'TotalBsmtSF',
        'GarageArea',
        'YearRemodAdd'

    ]
    #处理一下missingness
    X['BsmtFullBath'] = X['BsmtFullBath'].fillna(X['BsmtFullBath'].median())
    X['KitchenQual'] = X['KitchenQual'].fillna((X['KitchenQual'].mode())[0])
    X['TotalBsmtSF'] = X['TotalBsmtSF'].fillna(X['TotalBsmtSF'].median())
    X['GarageArea'] = X['GarageArea'].fillna(X['GarageArea'].median())
    
    X_prepared = X[cols]
    # ExterQual
    X_prepared['ExterQual'] = X_prepared['ExterQual'].replace({'Ex':4, 'Gd': 3, 'TA': 2, 'Fa': 1})
    # CentralAir
    X_prepared['CentralAir'] = X_prepared['CentralAir'].replace({'Y':1,'N': 0})
    # KitchenQual
    X_prepared['KitchenQual'] = X_prepared['KitchenQual'].replace({'Ex':4, 'Gd': 3, 'TA': 2, 'Fa': 1})
    # PavedDrive
    X_prepared['PavedDrive'] = X_prepared['PavedDrive'].replace({'Y':2, 'P':1, 'N': 0})
    

    return X_prepared

In [111]:
test_prepared = prepare_test(test)

In [114]:
predictions = rf_reg.predict(test_prepared)
result = pd.DataFrame({'Id': test['Id'], 'SalePrice': predictions})

In [115]:
result.head()

     Id  SalePrice
0  1461  127023.43
1  1462  146317.34
2  1463  164277.94
3  1464  184245.00
4  1465  206351.37

In [116]:
result.to_csv('result.csv',index = False)